.pageButtonsMenu{

    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    background: white;

}

.pageButtonsMenu>button{
    background: #76b852;
    border-color: #76b852;
    border-style: solid;
    font-size:  20px;
    padding: 5px 10px 5px 10px;
    border-radius: 30px
}
.pageButtonsMenu>button:hover{
    background: #43a047;
    border-color: #43a047;
    cursor: pointer;
    font-size:  20px;
    padding: 5px 10px 5px 10px;
    border-radius: 30px
}

.pageButtonsMenu>.activeButton{
    background: #43a047;
    border-color: #43a047;
}