.filterBox{

    display: flex;
    height: 120px;
    padding-right: 10px;
    gap: 5px;
    align-items: center;
}

.InputsMain{
    display: flex;

}

.InputsBox{

    display: flex;
    flex-wrap: wrap;
    align-items: center;



}
.InputsBox>div{
    margin: 0 auto;
    padding: 3px 5px;
    width: 16.66%;
}

.InputsLabel
{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.MiscBox{
    display: flex;

}
.Inputs
{
    font-size: 14px;
    background: #eeeeee;
    width: 100%;
    border-color: #eeeeee;
    outline: none;
    border-radius: 10px;
    padding: 15px;
    border-style: solid;

    transition: 1s;
}
table>thead>tr>th{
    background: #76b852;
    color: white;
    text-align: left;

    padding: 5px;
}

.orders-table tbody tr:nth-child(odd) {
    background: white;
}

.orders-table tbody tr:nth-child(even) {
    background-color: gray;
}

table{
    border-collapse: collapse;
    width: 100%;
}
td{
    padding: 5px
}
tr:hover{
    color: white;
    cursor: pointer;
}

th:hover{
    cursor: pointer;
}

.checkBox{
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.checkInputBox{
    display: flex;
    width: 20px;
    height: 10vh;
}

.buttonsFilter{
    border-style: solid;
    border-width: 0;
    display: flex;
    padding: 8px;
}

.resetBox{
    width: 5%;
    display: flex;
    align-items: center;
}

.resetIconBtn{
    width: 30px;
}
.fileIconBtn{
    width: 30px;
}

.openWindowBox {
    padding: 0; /* remove extra padding */
    border: 0; /* optional: remove table cell border */
}

.windowBox {
    display: flex;
    flex-direction: row; /* stack items vertically */
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    height: 30vh;
    color: black;
    padding: 10px;
    border-radius: 4px;
}

.messageBox {
    width: 30%;
    word-wrap: break-word;
    display: flex;
    justify-content: left;
}



