.filterBox{

    display: flex;
    height: 120px;
    padding-right: 10px;
    gap: 5px;
    align-items: center;
}

.InputsMain{
    display: flex;

}

.InputsBox{

    display: flex;
    flex-wrap: wrap;
    align-items: center;



}
.InputsBox>div{
    margin: 0 auto;
    padding: 3px 5px;
    width: 16.66%;
}

.InputsLabel
{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.MiscBox{
    display: flex;

}
.Inputs
{
    font-size: 14px;
    background: #eeeeee;
    width: 100%;
    border-color: #eeeeee;
    outline: none;
    border-radius: 10px;
    padding: 15px;
    border-style: solid;

    transition: 1s;
}
table>thead>tr>th{
    background: #76b852;
    color: white;
    text-align: left;

    padding: 5px;
}

.orders-table tbody tr:nth-child(odd) {
    background: #f3f3f3;
}

.orders-table tbody tr:nth-child(even) {
    background-color: gray;
}

table{
    border-collapse: collapse;
    width: 100%;
}
td{
    padding: 5px
}
tr:hover{
    color: white;
    cursor: pointer;
}

th:hover{
    cursor: pointer;
}

.checkBox{
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.checkInputBox{
    display: flex;
    width: 20px;
    height: 10vh;
}

.buttonsFilter{
    border-style: solid;
    border-width: 0;
    display: flex;
    padding: 8px;
}

.resetBox{
    width: 5%;
    display: flex;
    align-items: center;
}

.resetIconBtn{
    width: 30px;
}
.fileIconBtn{
    width: 30px;
}

.openWindowBox {
    padding: 0; /* remove extra padding */
    border: 0; /* optional: remove table cell border */
    cursor: auto;
}

.windowBox {
    display: flex;
    flex-direction: row; /* stack items vertically */
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    color: black;
    padding: 10px;
    border-radius: 4px;
}

.messageBox {
    width: 100%;
    word-wrap: break-word;
    display: flex;
    justify-content: left;
    padding-top: 10px;
}

.commentBox{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.commentView{
    background: white;
    width: 100%;
    max-height: 120px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    overflow: auto;
}
.commentViewBox{
    background: #ffffff;
    width: 60%;
    height: 20vh;
}
.commentInputBox{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.commentInputWindow{
    background: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.commentInputWindow>label{
    display: flex;
    width: 100%;
    gap: 10px;
}

.commentInputWindow>label>button{
    padding: 15px;
    background: grey;
    border-color: grey;
    cursor: not-allowed;
}
.commentInputWindow>label>input{
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    border-color: #eeeeee;
    background: #eeeeee;
    border-style: solid;
    outline: none;
}

.commentMsgBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 4px;
    align-items: flex-start;
    border-bottom: 1px solid #eee;
}
.msgBox{
    background: #76b852;
}

.createdMsgBox{background: #76b852;}

.editBtnBox{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.editBtnBox>button{
    padding: 10px 20px 10px 20px;
}


