.filterBox{

    display: flex;
    background: #282c34;
    height: 150px;
    padding-right: 10px;
}

.InputsMain{
    display: flex;

}

.InputsBox{

    display: flex;
    flex-wrap: wrap;
    align-items: center;



}
.InputsBox>div{
    margin: 0 auto;
    padding: 3px 5px;
    width: 16.66%;
}

.InputsLabel
{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.MiscBox{
    display: flex;

}
.Inputs
{
    font-size: 14px;
    background: #eeeeee;
    width: 100%;
    border-color: #eeeeee;
    outline: none;
    border-radius: 10px;
    padding: 15px;

    transition: 1s;
}
table>thead>tr>th{
    background: #76b852;
    color: white;
    text-align: left;

    padding: 5px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
td{
    padding: 5px
}
tr:hover{
    background: #43a047;
    color: white;
    cursor: pointer;
}

th:hover{
    cursor: pointer;
}
