.mainBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 15px;

}

.infoBox{
    width: 20%;
}

.statsHeader{
    display: flex;
    flex-direction: column;
}

.statsHeaderBox{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 5vh;
}

.createBox{
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.managerListBox{
    border-style: solid;
    width: 80%;
    padding: 25px;
    display: flex;
    gap: 5px;
    text-align: left;
    border-radius: 10px;
    border-width: 2px;
    border-color: #76b852;
}

button{
    width: auto;
    background: #43a047;
    padding: 7px;
    border-color: #43a047;
    border-style: solid;
    border-radius: 5px;
    color: white;

}

.menuBox{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 10px;
}

.totalBox{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}
.statsTotalBox{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    font-size: 20px;
    height: 10vh;
}

.mainButtonBox{
    display: flex;
    gap: 10px;
}

.managerMakingWindow{
    background: #282c34;
    opacity: 80%;
    position: fixed;
    width: 100%;
    height: 100vh;
}