.headerBox
{
    background: #76b852;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: white;

}

.figureBox
{

}

.nameDisplayHeader
{
    font-size: 1.5em;
}

.navMenuBox
{
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    height: 0;
}

.adminBtn, .logOutBtn
{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;

}

.adminIcon, .logOutIcon
{

    width: 1.875rem;

}