.background{
    background: rgb(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    position: fixed;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background.visible{
    background: rgb(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    position: fixed;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editFormBox{
    width: 60%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 30px 10px 30px 10px;

}

.formBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
    flex-direction: column;

}

.optionBtnBox{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    padding: 15px 0 5px 0;

}

.optionBtnBox>button{
    padding: 10px;
}

.labelBox{
    width: 97%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.rowBox{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
}

.rowPartBox{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.rowPartBox>span{
    padding: 10px 10px 10px 10px;
}

.rowPartButtonBox{

    display: flex;

}

.rowBox>.rowPartBox>input,.rowBox>.rowPartBox>select{
    width: 100%;
    padding: 15px;
    font-size: 15px;
    outline: none;
    border-radius: 10px;
    border-style: solid;
    border-color: #eeeeee;
    background: #eeeeee;
}
.rowBox>.rowPartBox>select,.rowBox>.rowPartBox>input{
    width: 100%;
    padding: 15px;
    font-size: 15px;
    outline: none;
    border-radius: 10px;
    border-style: solid;
    border-color: #eeeeee;
    background: #eeeeee;
 }
.rowBox>label>div{
    display: flex;
}
.rowBox>.rowPartBox>div>button{
    width: 100%;
    padding: 5px 10px 5px 10px;
}

.errorMsg{
    text-align: left;
}