*
{
  box-sizing: border-box;
}
iFrame {
  visibility: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  width: auto;
  background: #43a047;
  padding: 7px;
  border-color: #43a047;
  border-style: solid;
  border-radius: 5px;
  color: white;
  transition: 0.2s;
}
button:hover
{
  background: #307534;
  border-color: #307534;
  transition: 0.2s;
}
